/*------------обнуление-----------*/
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;/*из iphona*/
}

ul,/*из iphona*/
ol,
li {
    padding: 0;/*из iphona*/
    margin: 0;/*из iphona*/
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
/*------------HTML, BODY---------------*/
html,
body {
    height: 100%;
    line-height: 1;
    font-size: 14px;
    font-weight: 500;
    color: #252b42;
    background: #fafafa;
    font-family: "Montserrat", sans-serif;
}
/*--------------------------------------*/
/*.wrapper {
    min-height: 100%;
    overflow: hidden;
}*/
/*-----------CONTAINER------------*/
.container {
    max-width: 1046px;
    margin: 0 auto;/* поставит "container" по средине "headera" */
    padding: 0 15px;/*"отступы безопасности"*/
}
/*-------------HEADER-------------*/
.header {
    position: absolute;
    width: 100%;
    z-index: 50;
}
.header-nav {
    display: flex;
    min-height: 104px;
    align-items: center;
}
.header-logo {
    font-size: 24px;
    font-weight: 700;
    color: inherit;
}
.header-menu {
    margin: 0 0 0 133px;
}
.header-list {
    display: flex;
    flex-wrap: wrap;
}
.header-item:not(:last-child) {
    margin: 0 21px 0 0;
}
.header-item a {
    color: #737373;
    font-weight: 600;
    line-height: calc(24/14*100%);
}
/*--------------section class="main-page"-------------------*/
.main-image {
    position: relative;
    top: 0;
}
.main-image img {
    width: 100%;

}
.main-textandbutton {
    position: absolute;
    max-width: 400px;
    z-index: 2;
    padding: 184px 0 191px 0;
}
.main-textandbutton > *:not(:last-child) {
    margin: 0 0 35px 0;
}
.main-title {
    font-size: 58px;
    line-height: 137%;
    letter-spacing: 0.2px;
    font-weight: 800;
}
.main-textline {
    max-width: 360px;
    font-size: 20px;
    line-height: 150%;
    color: #737373;
}
.main-buttons {
    display: flex;
    flex-wrap: wrap;
    margin: -10px 0;
}
.main-buttons a {
    font-weight: 700;
    letter-spacing: 0.2px;
    line-height: 150%;
    padding: 10px 25px;
    border-radius: 36px;
    min-height: 50px;
    display: flex;
    align-items: center;
}
.main-buttons a:not(:last-child) {
    margin-right: 10px;
}
.color {
    background: #ff7b47;
    color: #fff;
}
.nocolor {
    border: 1px solid #0d5c63;
    color: #0d5c63 ;
}
/*-----------------section class="main-services"-----------------*/
.main-services {
    margin-top: -100px;
    position: relative;
}
.services-list {
    display: flex;
    margin: 0 -1px;
}
.services-item{
    background-color: #fff;
    padding: 35px;
    box-shadow: 0 13px 19px rgb(0 0 0 / 7%);
    height: 100%;
}
.item-inner > *:not(:last-child) {
    margin: 0 0 10px 0;
}

.services-bigitem {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 33.333%;
    padding: 0 15px;
}
.item-title {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.1px;
    line-height: 133%;
}
.item-text {
    font-size: 14px;
    font-weight: 500;
    line-height: 142%;
    letter-spacing: 0.2px;
    color: #737373;
}
.item-color {
    background-color: #0D5C63;
    color: #fff;
}
/*-------------test------------------*/
.benefit {
    background: linear-gradient(133deg,#7F0B45, #5B3554, #38623a 85%);
    min-height: 350px;
}
.test-list {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
.test-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0.2px;
    text-align: center;
    padding: 80px 0 10px;
}
.test-subtitle {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.2px;
    text-align: center;
    color:  #737373;
    padding: 0 250px;
}
.test-bigitem {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 25%;
    padding: 0 15px;
    height: 210px;
    position: relative;
    margin-bottom: -100px;
}
.test-item {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
    padding: 25px;
}
.test-item  > *:not(:last-child) {
    margin: 0 0 10px 0;
}
.test-icon {
    width: 48px;
    height: 48px;
}
.test-indicator {
    font-size: 40px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0.2px;
}
.test-text {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #737373;
}
/*----------------practice------------------------*/
.practiceAdvice {
    background-color: #fafafa;
    padding-bottom: 100px;
}
.practice {
    padding-top: 200px;
}
.practice-title {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.1px;
    padding: 0 55px 0 10px;
}
.practice-text {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: 0.2px;
    color: #737373;
    padding: 15px 41px 30px 15px;
}
.practice-bigitem {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 25%;
    padding: 0 15px;

}
.practice-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 311px;
    background-color: #ffffff;
}
/*---------------------WhoWeAre---------------------*/
.WhoWeAre {
    background-color: #fff;
}
.wo-body {
    display: flex;
    padding: 100px 0 136px 0;
}
.wo-title {
    font-size: 40px;
    line-height: 57px;
    font-weight: 700;
    letter-spacing: 0.2px;
    color: #252B42;
}
.wo-text {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: 0.2px;
    color: #737373;
    padding: 10px 0 20px 0;
}
.wo-item {
    display: flex;
    margin: 30px 0 0 0;
}
.wo-item__body {
    padding-left: 21px;
}
.wo-item__title {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.1px;
    color: #252B42;
    padding: 0 0 5px 0;
}
.wo-item__text {
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    letter-spacing: 0.2px;
    color: #737373;
}
.wo-content  {
    padding: 22px 0 0 120px;
}
/*--------------OurClients-------------------*/
.OurClients-container {
    padding: 0 30px;
}
.clients-list {
    display: flex;
    justify-content: space-between;
    padding: 58px 10px 70px;
}
.clients-logo {
    display: flex;
    align-items: center;
}
.subscribe {
    background-color: #17213C;
    position: relative;
    z-index: 2;
}
.subscribe-title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    letter-spacing: 0.1px;
    color: white;
}
.subscribe-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 30px 40px;
}
.subscribe-form__form {
    background-color: #F9F9F9;
    border-radius: 5px;
}
.subscribe-form__input {
    background-color: #F9F9F9;
    border: 1px solid #E6E6E6;
    border-right: none;
    border-radius: 5px 0 0 5px;
    width: 450px;
    height: 58px;
    padding: 0 20px;
}
.subscribe-form__button {
    background-color:  #FF7B47;
    border: 1px solid #E6E6E6;
    border-radius: 0px 5px 5px 0px;
    width: 117px;
    height: 58px;
    color: #fff;
    cursor: pointer;
}
.stripe {
    background: #252B42;
    height: 77px;
    margin-top: -57px;
}
/*----------------GetInTouch-------------------*/
.GetInTouch {
    background-color: #F3F3F3;
}
.get-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 30px;
}
.get-bigitem {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 33.333%;
}
.get-item {
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 15px;
    color: #252B42;
}
.get-dark {
    background-color: #252B42;
    color: #fff;
    padding: 80px 15px;
}
.get-dark > a {
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
}
.get-item__mail {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.get-item > *:not(:last-child) {
    margin: 0 0 15px 0;
}
.item-mail {
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
   color: inherit;
}
.get-item__text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
}
.get-item__button {
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    color: #FF7B47;
    border: 1px solid #FF7B47;
    border-radius: 5px;
    width: 160px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*--------------------ConsultingAgency------------------*/
.ConsultingAgency {
    background-color: #fafafa;
}
.contact-body :not(:last-child) {
    padding: 0 0 10px 0;
}
.contact {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}
.contact-title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
}
.contact-text {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}
.contact-button {
    background-color: #FF7B47;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 160px;
    height: 58px;
    color: #fff;
}
/*-----------------------footer----------------------------*/
.footer-list {
    display: flex;
    padding: 50px 0;
}
.footer {
    background: #17213C;
    color: white;
}
.footer-top {
    margin-left: -15px;
}
.footer-bigitem {
    flex: 0 1 18%;
}
.footer-item {
    padding: 15px 15px;
}
.foooter-item__head {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    padding: 0 0 20px 0;
}
.menu-footer {
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    letter-spacing: 0.2px;
}
.footer-item__menu :not(:last-child){
    padding: 0 0 10px 0;
}
.footer-botton {
    background: #FAFAFA;
}
.body-botton {
    display: flex;
    justify-content: space-between;
}
.footer-botton__text {
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    color: #737373;
    padding: 25px 0;
}
.footer-botton__networks {
    align-items: center;
    display: flex;
}
.item-networks :not(last-child) {
    padding: 0 20px 0 0;
}
.menu-footer>img {
    padding: 0 10px 0 0;
}
.menu-footer>a {
    display: flex;
}
.top-img {
    padding: 0 10px 0 0;
}